/* ----- font face ----- */
@font-face {
    font-family: Poppins;
    src: url(../font/poppins/Poppins-Regular.ttf);
}

/* ----- root style ----- */
:root {

    /* --- color --- */
    --red: #B31B38;
    --grey: #333333;
    --green: #006B38;
    --black: #111111;
    --white: #FFFFFF;

    /* --- box-shadow --- */
    --boxshadow: -8px 8px 5px 0px rgba(0, 0, 0, 0.5);
    --boxshadow2: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);

}

/* ----- base style ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html {
    font-size: 100%;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* ----- custom style ----- */
.title {
    font-weight: 700;
    padding: 0.5vw 0;
    letter-spacing: 0.1rem !important;
    text-transform: uppercase;
}

.title span {
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
}

.btn {
    font-weight: 400;
    border-radius: 0;
    padding: 0.8rem 1.2rem;
    color: var(--white);
    letter-spacing: 0.01rem;
    text-transform: uppercase;
    background-color: var(--green);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.sub-title {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--grey);
    line-height: 2;
    text-transform: uppercase;
}

/* ----- nav-icon style ----- */
nav.icon {
    background-color: var(--black);
}

nav.icon .row {
    display: flex;
    padding: 0.8vh 15vw;
    align-items: center;
    background: var(--color-02);
    justify-content: space-between;
}

nav.icon .row .col:first-child {
    justify-content: left;
}

nav.icon .row .col:last-child {
    justify-content: right;
}

nav.icon a {
    font-size: 0.9rem;
    padding: 1%;
    width: fit-content;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
}

nav.icon a:hover {
    color: var(--grey);
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

nav.icon #timeDiv.open {
    color: var(--green);
}

nav.icon #timeDiv.closed {
    color: var(--red);
}

/* --- nav-icon media query --- */
@media (max-width: 1444px) {
    nav.icon .row {
        padding: 0.8vh 10vw;
    }
}

@media (max-width: 991px) {
    nav.icon .row {
        padding: 0.8vh 0.8vw;
    }

    nav.icon a {
        padding-left: 1rem;
    }

    nav.icon a span {
        display: none;
    }
}

/* ----- navbar style ----- */
nav.navbar {
    padding: 0.8vh 15vw;
    box-shadow: var(--boxshadow);
}

nav.navbar .navbar-brand img {
    max-width: 100px;
}

nav.navbar .navbar-toggler {
    border: 0;
    font-size: 2rem;
    color: var(--black);
}

nav.navbar .nav-link,
nav.navbar .dropdown-item {
    font-weight: 500;
}

/* --- navbar media query --- */
@media (max-width: 1444px) {
    nav.navbar {
        padding: 0.8vh 10vw;
    }
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    /* .navbar .nav-item:hover .nav-link {} */

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

@media (max-width:991px) {
    nav.navbar {
        padding: 0.8vh 0.8vw;
    }

    nav.navbar .navbar-nav {
        margin-top: 1rem;
        margin-left: 1rem;
    }
}

/* ----- home carousel ----- */
section.home .carousel-item {
    min-height: 60vh;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

section.home .carousel-item::before {
    top: 0;
    left: 0;
    content: '';
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
}

section.home .carousel-item .container-fluid {
    top: 50%;
    left: 50%;
    position: absolute;
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

section.home .carousel-item .title,
section.home .carousel-item .title span,
section.home .carousel-item .sub-title {
    color: var(--white) !important;
    z-index: 99;
}

.carousel-item:nth-child(1) {
    background-image: url(../img/bg/bg-02.jpg);
}

.carousel-item:nth-child(2) {
    background-image: url(../img/bg/bg-04.jpg);
}

.carousel-item:nth-child(3) {
    background-image: url(../img/bg/bg-05.jpg);
}

/* ----- home counter ----- */
section.home .counter-row {
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

section.home .counter {
    padding: 2rem 0;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--white);
    transform: translate(0%, -20%);
    -webkit-transform: translate(0%, -20%);
    -moz-transform: translate(0%, -20%);
    -ms-transform: translate(0%, -20%);
    -o-transform: translate(0%, -20%);
    box-shadow: var(--boxshadow2);
}

section.home .counter .data {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--black);
}

section.home .counter span.sub-title {
    font-size: 1rem;
    font-weight: 700;
    color: var(--black);
    text-transform: uppercase;
}

section.home .counter i {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--black);
}

/* ----- home section media query ----- */
@media (max-width: 767px) {
    section.home .counter-row {
        padding: 5%;
    }

    section.home .counter:first-child {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    section.home .counter:last-child {
        border-top-right-radius: 0;
    }

    section.home .counter {
        box-shadow: none;
        transform: translate(0%, -0%);
        -webkit-transform: translate(0%, -0%);
        -moz-transform: translate(0%, -0%);
        -ms-transform: translate(0%, -0%);
        -o-transform: translate(0%, -0%);
    }

    section.home .carousel .carousel-arrows {
        display: none;
    }
}

/* ----- about section ----- */
section.about {
    margin: 0;
    background: var(--white);
}

section.about .row {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* ----- service box ----- */
section.about .row:last-child {
    width: 100%;
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.service-box {
    width: 25rem;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
    color: var(--white);
    transition: all 0.3s ease 0s;
}

.service-box:hover {
    box-shadow: var(--boxshadow);
    background: var(--grey) !important;
}

.service-box .service-icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    font-size: 35px;
    background: #fff;
    line-height: 70px;
    border-radius: 100%;
    transform: translateY(0);
    transition: all 0.3s ease 0s;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.service-box:hover .service-icon {
    transform: translateY(-100%);
}

.service-box .service-icon i {
    color: var(--black);
    transition: all 600ms cubic-bezier(0.5, -0.5, 0.2, 1.5) 0s;
    -webkit-transition: all 600ms cubic-bezier(0.5, -0.5, 0.2, 1.5) 0s;
    -moz-transition: all 600ms cubic-bezier(0.5, -0.5, 0.2, 1.5) 0s;
    -ms-transition: all 600ms cubic-bezier(0.5, -0.5, 0.2, 1.5) 0s;
    -o-transition: all 600ms cubic-bezier(0.5, -0.5, 0.2, 1.5) 0s;
}

.service-box:hover .service-icon i {
    color: var(--grey) !important;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.service-box h5 {
    position: relative;
    top: 40px;
    margin: 0;
    color: var(--black);
    text-transform: uppercase;
    transform: translateY(0%);
    transition: all 600ms cubic-bezier(0.5, -0.5, 0.2, 1.5) 0s;
    -webkit-transition: all 600ms cubic-bezier(0.5, -0.5, 0.2, 1.5) 0s;
    -moz-transition: all 600ms cubic-bezier(0.5, -0.5, 0.2, 1.5) 0s;
    -ms-transition: all 600ms cubic-bezier(0.5, -0.5, 0.2, 1.5) 0s;
    -o-transition: all 600ms cubic-bezier(0.5, -0.5, 0.2, 1.5) 0s;
}

.service-box:hover h5 {
    top: -40px;
    color: var(--color-01) !important;
}

.service-box p {
    color: #fff;
    margin: 0;
    opacity: 0;
    font-size: 0.8rem;
    transition: all 0.3s linear 0s;
}

.service-box:hover p {
    opacity: 1;
}

/* ----- service box media query ----- */
@media (max-width: 991px) {
    .service-box {
        background: var(--grey) !important;
    }

    .service-box .service-icon {
        transform: translateY(-100%);
    }

    .service-box .service-icon i {
        color: var(--grey) !important;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }

    .service-box h5 {
        top: -40px;
        color: var(--color-01) !important;
    }

    .service-box p {
        opacity: 1;
    }
}

/* ----- contact box ----- */
.card-img-top {
    width: 100%;
    height: 12rem;
}

section.contact {
    position: relative;
    background: var(--color-01);
}

section.contact .container-fluid {
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
}

section.contact .container-fluid .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    background: transparent;
}

section.contact .row .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    text-align: left !important;
}

section.contact .row .contact-info {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    margin: 0.5rem 0;
    color: var(--black);
    text-transform: capitalize;
    text-decoration: none;
}

.contact-info i {
    margin-right: 1rem;
}

section.contact .row .col-lg-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.contact .contact-bg {
    background: url("../img/bg/bg-01.jpg");
}

section.contact .contact-bg::before {
    top: 0;
    left: 0;
    content: '';
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
}

section.contact .card .title {
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-align: left !important;
}